.headerContainer {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.logo {
  font-weight: bold;
  font-size: 1.3rem;
  color: black;
}

.navigationContainer {
  width: 33%;
  display: flex;
  justify-content: center;
}

.navButton {
  font-weight: 500;
  letter-spacing: 0;
  margin: 0 20px 0 20px;
}

.navButton:hover {
  cursor: pointer;
  color: gray;
}

.loginButton {
  width: 100px;
  height: 30px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  outline: none;
}

.loginButton:hover {
  cursor: pointer;
  background-color: gray;
}
